
{% extends "layout.html" %}

{% block body %}

    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <label>Código da Filial</label>
                    <input class="form-control" type="textbox" name="CodigoFilial" id="CodigoFilial" autofocus>
                </div>

                <div class="col-sm-8">
                    <label>Descricao da Filial</label>
                    <input class="form-control" type="textbox" name="DescricaoFilial" id="DescricaoFilial">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <label>CEP da Filial</label>
                    <input class="form-control" type="textbox" name="CepFilial" id="CepFilial">
                </div>
            </div>
        </div>
    </form>

{% endblock %}



{% block scripts %}

<script src="http://maps.google.com/maps/api/js"></script>


<script>
    console.log('aqui');

var lat = '';
var lng = '';
var address = '14401216';
geocoder.geocode( { 'address': address}, function(results, status) {
  if (status == google.maps.GeocoderStatus.OK) {
     lat = results[0].geometry.location.lat();
     lng = results[0].geometry.location.lng();
  } else {
     alert("Não foi possivel obter localização: " + status);
  }
});
alert('Latitude: ' + lat + ' Logitude: ' + lng);

</script>
{% endblock %}
