<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazine Luiza Finder</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">

        <h1>Magazine Luiza Finder</h1>
        <h2>Procurando um produto mais próximo de você</h2>

        <!-- espaçamento entre cabeçalhos e início das divs -->
        <div style="padding-bottom:50px;">
        </div>



        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label>Selecione o produto desejado</label>
                    <select class="form-control" name="produtoNome" id="produtoNome">

                        {% for produto in produtos %}
                          <option value=" {{ produto.Nome }} ">{{ produto.Nome }}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
        </div>



        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label>Informe o seu CEP</label>
                    <input class="form-control" type="textbox" name="CEP" id="CEP" value="14401-216">
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-lg btn-primary" id="btnPesquisar">Pesquisar</button>
                </div>
            </div>
        </div>





        <div class="form-group">
            <div class="col-sm-12">
                <div id="listaTweets" class="list-group">
                    <!-- conteúdo aqui será substituído por jQuery + Ajax -->            
                </div>
            </div>
        </div>
    </div>

    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#btnNovaConsulta').hide();
        });

        $('#btnCarregarTweets').click(function() {

            $('#listaTweets').append('<p> Carregando... aguarde ...');

            $.ajax({
                type: "POST",
                url: "/api",
                data: { 'maxTweets' : $('#maxTweets option:selected').val() ,
                        'userName'  : $('#userName option:selected').val()
                      },
                success: searchSuccess,
                dataType: 'json'
            });

            $(this).attr('disabled', true);
            $('#maxTweets').attr('disabled', true);
            $('#userName').attr('disabled', true);
            $('#btnNovaConsulta').show();
        });
        
        $('#btnNovaConsulta').click(function() {
            $('#btnCarregarTweets').attr('disabled', false);
            $('#maxTweets').attr('disabled', false);
            $('#userName').attr('disabled', false);
            $('#listaTweets').empty();
            $(this).hide();
        });

        function searchSuccess(data, textStatus, jqXHR)
        {
            $('#listaTweets').empty();

            $.each( data, function( key, value ) {
                tweetHtml = '<a href="#" class="list-group-item">'
                /*tweetHtml += '<h4 class="list-group-item-heading">' + 'algum cabeçalho ' + key + '</h4>' */
                tweetHtml += '<p class="list-group-item-text">' + value + '</p></a>'

                $('#listaTweets').append(tweetHtml);
            });
        }

    </script>
</body>
</html>
