<% extends "layout_model.html" %>


<% block head_model_scripts %>
<script type="text/javascript" src="/static/lojas.js"></script>
<% endblock %>


<% block inner_body %>

<div class="container">          

  <% include 'layout_header.html' %>

  <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">Nova Loja</button>
  <h2>Lojas</h2>
  <div class="clearfix"></div>
  <hr>

  <div class="alert alert-info alert-dismissible" role="alert" ng-if="info">
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="clearInfo()">&times;</span></button>
    {{info}}
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th>CEP</th>
        <th>Editar</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="loja in lojas">
        <td> {{ loja.id }} </td>
        <td> {{ loja.descricao }} </td>
        <td> {{ loja.cep }} </td>
        <td> <button class="btn btn-info btn-sm"  type="button" data-toggle="modal" data-target="#myModalEdit" ng-click="selectLoja(loja)">Editar</button> </td>
        <td> <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#myModalDelete" ng-click="selectLoja(loja)">Deletar</button> </td>
      </tr>              
    </tbody>
  </table>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Inserindo Nova Loja</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="newLojaDescricao" class="col-sm-2 control-label">Descrição</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="newLojaDescricao" placeholder="Descrição da Loja" ng-model="newLoja.descricao" autofocus>
            </div>
          </div>

          <div class="form-group">
            <label for="newLojaCEP" class="col-sm-2 control-label">CEP</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="newLojaCEP" placeholder="00000-000" ng-model="newLoja.cep">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveLoja();">Salvar</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="myModalEdit" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar esta Loja</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="editLojaDescricao" class="col-sm-2 control-label">Descrição</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="editLojaDescricao" placeholder="Descrição da Loja" ng-model="clickedLoja.descricao">
            </div>
          </div>

          <div class="form-group">
            <label for="editLojaCEP" class="col-sm-2 control-label">CEP</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="editLojaCEP" placeholder="00000-000" ng-model="clickedLoja.cep">
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="updateLoja();">Concluído</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="myModalDelete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirma ?</h4>
      </div>
      <div class="modal-body">
        <h3 style="color: red">Deseja excluir a Loja " {{ clickedLoja.descricao }} " ? </h3>
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="deleteLoja();">Sim</button>              
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Não</button>
      </div>
    </div>

  </div>
</div>

<% endblock %>
